<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tv.tvquetzachapin.graphfunctions">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activites.MainActivity"
            android:label="@string/app_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activites.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activites.GraphActivity"
            android:label="@string/title_activity_graph"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activites.Graph2Activity" />
        <activity
            android:name=".Activites.NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activites.TrigonometricActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activites.HipActivity"
            android:label="@string/title_activity_hip"
            android:theme="@style/AppTheme.NoActionBar" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activites.TrigonometricActivity" />
        <activity
            android:name=".Activites.CatActivity"
            android:label="@string/title_activity_cat"
            android:theme="@style/AppTheme.NoActionBar" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activites.TrigonometricActivity" />
        <activity
            android:name=".Activites.SenCosTanActivity"
            android:label="@string/title_activity_sen_cos_tan"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activites.TrigonometricActivity" />
        </activity>
    </application>

</manifest>